/*el que esta conectado a los html es el STYLES.CSS,
 este es para ver lo que me falta agregar a sass*/




.note{
    font-weight: 400;
    font-size: small;
}

.center_text{
    text-align: center;
}

.left_text{
    text-align:left;
}

#Message{
   resize: none; 
}




/*SPACINGS*/
.spacing-0{
    margin-top: 8px;
}
.spacing-1{
    margin-top: 16px;
}
.spacing-2{
    margin-top: 30px;
}
.spacing-3{
    margin-top: 70px;
}
.spacing-4{
    margin-top: 100px;
}