.contact_page{
    background-color: $negro;
    border-radius: 6px;
    border: 0px;
    color: $blanco;
    margin-top: 6px;
    width: 600px;
}
#form_header{
    width: 600px;
    height: 24px;
}
#web_button:hover{
    background-color: $blanco;
}