%titulo{
    font-weight: 900;
    font-size: xx-large;
}

%subtitulo{
    font-weight: bold;
    font-size: x-large;
}

%subtitulo2{
    font-weight: 400;
}

%subtitulo3{
    font-weight: 200;
    font-size: large;
}