@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
//fuente
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

//propiedades
    width: 100%;
    background-color: $color-fondo;
    color: $blancox2;
}

main{
    padding-inline: 250px;
}

header {
   background-color: $negro;
   position: sticky;
   z-index: 50;
   top: 0px;
}

footer{
    background-color: $negro;
    padding: 60px 15px;
}


h1{
    font-weight: 900;
    font-size: xx-large;
}

h2{
    font-weight: bold;
    font-size:x-large;
}

h3{
    font-weight: 400;
}

h4{
    font-weight: 200;
    font-size: large;
}

p{
    /*se pone automaticamente margin-bottom:1rem sino*/
    margin-bottom: 0px;
}

.resaltado {
    color: $rosa;
    font-weight: 700;
}

.note{
    font-weight: 400;
    font-size: small;
}

//CENTRADOS
.center_text{
    text-align: center;
}
.left_text{
    text-align:left;
}
.center_column{
    @include flex (column, center, center, inherit);
}
.center_row{
    @include flex (row, center, center, inherit);
}


.web_button{
    border-radius: 10px;
    padding: 6px;
    padding-inline: 20px;
    border-color: transparent;
    background-color: $blanco;
    font-weight: 700;
    text-decoration: none;
    color: $color-fondo;
    font-size: medium;
    width: fit-content;
    align-self: center;
    transition: all 0.25s ease;
    &:hover{
        background-color:$rosa;
    }
}


#Message{
   resize: none; 
}

//SPACINGS
.spacing-0{
    margin-top: 8px;
}
.spacing-1{
    margin-top: 16px;
}
.spacing-2{
    margin-top: 30px;
}
.spacing-3{
    margin-top: 70px;
}
.spacing-4{
    margin-top: 100px;
}